<!DOCTYPE html>
<html>
  <head>
    <title>Red</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if logged_in? %>
      Hello, <%= current_user.username %>!
      <%= button_to 'Logout', session_url, method: :delete %>
    <% else %>
      <%= link_to 'Sign Up', new_user_url %>
      <%= link_to 'Sign In', new_session_url %>
    <% end %>

    <% flash[:errors].try(:each) do |error| %>
      <%= error %>
    <% end %>

    <%= yield %>
  </body>
</html>
